In [107]:
import os
import pandas as pd

In [108]:
mobility_path = '../data/raw/'
processed_path = '../data/processed/'
raw_path = '../data/raw/'

In [ ]:
# mobility_combine = []

# for file in os.listdir(mobility_path):
#     df = pd.read_csv(path + file, sep='\t')
#     df = df.loc[(df['Kind'] == 'subregion')]
#     mobility_combine.append(df)

# mobility_df_combine = pd.concat(mobility_combine)

# mobility_df_combine.to_csv(path+'mobility_county.csv')

In [205]:
mobility = pd.read_csv(mobility_path+'Global_Mobility_Report.csv', low_memory=False)
processed = pd.read_csv(processed_path + 'time_series.csv')
zips = pd.read_csv(raw_path + 'uszips.csv')

In [206]:
# clean USA data
USA = mobility.loc[mobility['country_region'] == 'United States'].reset_index()
to_drop = ['index', 'country_region_code', 'country_region']
USA = USA.drop(to_drop, axis=1)
USA.insert(1, 'county', USA['sub_region_2'])
USA = USA.drop(['sub_region_2'],axis=1)
USA = USA.loc[~pd.isna(USA['county'])]
USA['county'] = USA['county'].str.split(expand=True).iloc[:,0]

In [207]:
# take only subset of counties according to proccessed data
counties = pd.unique(processed['county'])
USA = USA.loc[USA['county'].isin(counties)]

In [208]:
# Cut time
USA = USA.loc[USA['date']<'2020-04-05']

In [210]:
processed.loc[processed['date'] == '2020-02-15']

,Unnamed: 0,date,county,state,fips,cases,deaths,county_fips_all,timestamp,cldCvrMin,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
22,22,2020-02-15,Cook,Illinois,17031,2,0,17031,2020-02-15,0.0,...,14.0,16.6,20.5,24.7,17.5,20.8,24.0,6.95,21.45,28.35

In [203]:
pd.merge(processed, USA, on=['county', 'date'])

,Unnamed: 0,date,county,state,fips,cases,deaths,county_fips_all,timestamp,cldCvrMin,...,wetBulbMin,wetBulbAvg,wetBulbMax,sub_region_1,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,22,2020-02-15,Cook,Illinois,17031,2,0,17031,2020-02-15,0.0,...,6.95,21.45,28.35,Georgia,9.0,5.0,NaN,NaN,-9.0,NaN
1,22,2020-02-15,Cook,Illinois,17031,2,0,17031,2020-02-15,0.0,...,6.95,21.45,28.35,Illinois,5.0,1.0,17.0,3.0,2.0,-1.0
2,22,2020-02-15,Cook,Illinois,17031,2,0,17031,2020-02-15,0.0,...,6.95,21.45,28.35,Minnesota,44.0,NaN,NaN,NaN,NaN,NaN
3,23,2020-02-16,Cook,Illinois,17031,2,0,17031,2020-02-16,0.0,...,19.40,28.10,34.90,Georgia,7.0,-5.0,NaN,8.0,-9.0,NaN
4,23,2020-02-16,Cook,Illinois,17031,2,0,17031,2020-02-16,0.0,...,19.40,28.10,34.90,Illinois,9.0,2.0,40.0,2.0,1.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10184,1931,2020-04-04,Putnam,Indiana,18133,14,1,18133,2020-04-04,0.0,...,42.45,46.15,49.65,West Virginia,-40.0,-16.0,NaN,-25.0,-33.0,NaN
10185,1933,2020-04-04,Whitley,Indiana,18183,5,0,18183,2020-04-04,0.0,...,35.50,42.20,47.20,Indiana,-44.0,-5.0,NaN,NaN,-36.0,NaN
10186,1933,2020-04-04,Whitley,Indiana,18183,5,0,18183,2020-04-04,0.0,...,35.50,42.20,47.20,Kentucky,-37.0,9.0,NaN,-16.0,-21.0,NaN
10187,1934,2020-04-04,Bolivar,Mississippi,28011,34,1,28011,2020-04-04,7.0,...,56.20,58.80,61.30,Mississippi,-41.0,-10.0,NaN,NaN,-19.0,NaN
10188,1935,2020-04-04,Taney,Missouri,29213,5,0,29213,2020-04-04,82.0,...,37.60,40.80,43.20,Missouri,-62.0,-4.0,-54.0,NaN,-46.0,NaN

In [161]:
counties

array(['Cook', 'Santa Rosa', 'Clark', 'Lee', 'Charlotte', 'Volusia',
       'Cherokee', 'Floyd', 'Noble', 'Collier', 'Boone', 'St. Johns',
       'Howard', 'Johnson', 'Clay', 'Duval', 'Sarasota', 'Seminole',
       'Coweta', 'Cumberland', 'DuPage', 'Sangamon', 'St. Clair',
       'Citrus', 'Dougherty', 'Clinton', 'Escambia', 'Lake', 'Sumter',
       'Columbia', 'Houston', 'Washington', 'Bolivar', 'Laurens', 'Peach',
       'Owen', 'Dawson', 'Lamar', 'Lincoln', 'Monroe', 'Muscogee',
       'Pickens', 'Terrell', 'Tift', 'Canyon', 'St. Lucie', 'Baldwin',
       'DeKalb', 'Miami', 'Bradford', 'DeSoto', 'Flagler', 'Chattooga',
       'Clinch', 'Coffee', 'Tattnall', 'Twiggs', 'Champaign', 'Morgan',
       'Putnam', 'Liberty', 'Taney', 'Baker', 'Colquitt', 'Crisp',
       'Meriwether', 'Mitchell', 'Telfair', 'Cassia', 'Brown', 'Dearborn',
       'Montgomery', 'Ohio', 'Decatur', 'Jones', 'Long', 'Taylor',
       'Thomas', 'Wilkes', 'Douglas', 'Logan', 'Marshall', 'Jasper',
       'McDuffie', 'Custer', 'Orange', 'Suwannee', 'Chattahoochee',
       'Upson', 'Carroll', 'Kosciusko', 'Whitley', 'Bulloch', 'Jenkins',
       'Wheeler', 'Crawford', 'Newton', 'San Juan', 'Brooks', 'Menard',
       'Berrien', 'Dade', 'Jefferson', 'Talbot', 'Elmore', 'Marion',
       'Union', 'Emanuel', 'Stewart', 'Walker', 'Wilcox', 'Wilkinson',
       'Camas', 'Mason', 'Cass', 'Madison', 'Lanier', 'Massac',
       'Vermilion', 'Mercer', 'Moultrie', 'De Witt', 'Parke', 'Dixie',
       'Caribou'], dtype=object)